.toast {
    max-width: 300px;
    border: 1px solid $main-color;
    box-shadow: 0 1px 1px $box-shadow;

    button {
        border: none;
        font-size: 20px;
    }

    @include margin(top, 15px);
    @include padding(top, 10px);
    @include padding(bottom, 10px);
    @include padding(left, 10px);
    @include padding(right, 10px);
}