.modal {
    position: fixed;
    top: 2vw;
    left: 20vw;
    display: none;
    width: 60vw;
    margin: 0 auto;
    border: 1px solid $main-color;
    border-radius: 5px;

    &-header {
        padding: 5px 10px;
        background-color: $lighter-brown;

        button {
            border: none;
            background-color: $lighter-brown;
            font-size: 18px;
        }
    }

    &-body {
        padding: 10px;
        background-color: #fff;
        overflow-y: scroll;

        h4 {
            font-size: 18px;
            font-weight: 500;
        }

        .form-group {
            @include margin(top, 15px);
        }

    }

    &-footer {
        padding: 5px 10px;
        background-color: $lighter-brown;

        button {
            @include margin(right, 10px);
            width: 120px;
            height: 40px;
            border: 1px solid $main-color;
            background-color: $merino;
            border-radius: 3px;
        }
    }

    &.show {
        display: block;
    }
}

.modalImg {
    width: 50%;

    .showImg {
        width: 100px;
    }
}

.modal-info {
    width: 50%;

    input {
        height: 30px;
    }
}

.del {
    width: 30vw;
    top: 20vw;
    left: 35vw;

    .modal-body {
        overflow: hidden;
        height: 10vw;

        span {
            font-size: 20px;
            font-weight: 500;
        }
    }
}