.header {
    position: sticky;
    top: 0;
    z-index: 1999;
    max-width: 100vw;
    padding: 10px 0;
    background-color: #fff;

    &.scroll {
        transition: .3s linear;
        flex-direction: row;
        padding: 5px 15px;
        box-shadow: 1px 1px 2px $box-shadow;

        .logo {
            h1 {
                font-size: 38px;
            }
        }

        @include pad-width {

            .menu,
            .showMenu {
                top: 67px;
            }
        }

        @include phone-width {
            .logo {
                h1 {
                    font-size: 26px;
                }
            }

            .menu,
            .showMenu {
                top: 49px;
            }

            padding: 5px 10px;
        }
    }

    button {
        border: none;
    }

    @include pad-width {
        flex-direction: row;
        max-width: 100vw;
        @include padding(left, 10px);
    }

    @include phone-width {
        flex-direction: row;
        max-width: 100vw;
        @include padding(left, 10px);
    }
}

.logo {

    .ham {
        display: none;

        span {
            display: block;
            transition: 0.15s linear;
            margin-bottom: 5px;
            width: 22px;
            height: 2px;
            background: $main-color;
        }

        &.show {
            span {
                position: relative;
                transition: 0.3s ease-in-out;

                &:nth-child(1) {
                    top: 5px;
                    transform: rotate(-135deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    top: -2px;
                    transform: rotate(135deg);
                }
            }
        }

        &:hover {
            cursor: pointer;
        }

        @include pad-width {
            display: block;
        }

        @include phone-width {
            display: block;
        }
    }

    @include pad-width {
        width: 50vw;
        justify-content: space-between;
    }

    @include phone-width {
        width: 55vw;
        justify-content: space-between;

        h1 {
            font-size: 28px;
        }
    }
}

.nav {
    margin: 10px auto;
    width: 100%;

    .menu {
        @include margin(right, 25px);

        li {
            padding: 0 25px;
            height: 30px;
            overflow: hidden;

            a {
                display: flex;
                flex-direction: column;

                span {
                    transition: 0.3s ease-in-out;
                    text-align: center;
                    @include padding(top, 5px);
                }

                &:hover {
                    &>span:nth-child(1) {
                        transform: scaleY(0) translateY(-30px);
                    }

                    &>span:nth-child(2) {
                        transform: translateY(-30px);
                    }
                }
            }
        }

        //類別
        &>:nth-child(3) {

            position: relative;

            ul {
                border: 1px solid $main-color;
                background-color: $darker-merino;
                box-shadow: 1px 1px 2px $box-shadow;
                position: absolute;
                top: 40px;
                left: -10px;
                width: 170px;
                max-width: 200px;

                &::before {
                    //偽元素製作三角形
                    display: block;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: $darker-merino;
                    border-bottom: 1px solid $second-color;
                    border-right: 1px solid $second-color;
                    position: absolute;
                    top: -8px;
                    left: 70px;
                    transform: rotate(-135deg);
                }

                li {
                    padding: 0 10px;
                    margin: 5px 0;
                }

                li+li::before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 150px;
                    border: 1px solid $brown;
                    box-shadow: 1px 0 1px $lighter-brown;
                    left: 10px;
                }
            }

            &:hover {
                overflow: visible;

                &>a {
                    &>span:nth-child(1) {
                        transform: scaleY(0) translateY(-30px);
                    }

                    &>span:nth-child(2) {
                        transform: translateY(-30px);
                    }
                }
            }
        }

        @include pad-width {
            position: absolute;
            top: 83px;
            left: -330px;
            z-index: 1999;
            width: 310px;
            height: 100vh;
            flex-direction: column;
            background-color: $merino;
            border: 1px solid $darker-merino;
            box-shadow: 1px 1px 2px $box-shadow;
            transition: .1s linear;

            &.show {
                left: 0;
            }

            li {
                margin: 5px 0;
            }

            li+li::before {
                display: block;
                position: absolute;
                content: "";
                width: 250px;
                border: 1px solid $darker2-merino;
                box-shadow: 1px 0 1px $lighter-brown;
                left: 20px;
            }

            &>:nth-child(3) {

                ul {
                    display: block;
                    width: 100%;
                    left: 55px;
                    top: 35px;

                    &::before {
                        display: none;
                    }
                }

                &:hover {
                    height: 190px;
                }
            }
        }

        @include phone-width {
            position: absolute;
            top: 62px;
            left: -330px;
            z-index: 1999;
            width: 310px;
            height: 100vh;
            flex-direction: column;
            background-color: $merino;
            border: 1px solid $darker-merino;
            box-shadow: 1px 1px 2px $box-shadow;
            transition: .1s linear;

            &.show {
                left: 0;
            }

            li {
                margin: 5px 0;
            }

            li+li::before {
                display: block;
                position: absolute;
                content: "";
                width: 250px;
                border: 1px solid $darker2-merino;
                box-shadow: 1px 0 1px $lighter-brown;
                left: 20px;
            }

            &>:nth-child(3) {

                ul {
                    display: block;
                    width: 100%;
                    left: 55px;
                    top: 35px;

                    &::before {
                        display: none;
                    }
                }

                &:hover {
                    height: 190px;
                }
            }
        }
    }

    .icons {
        li {
            @include margin(right, 5px);

            button {
                font-size: 16px;

                span {
                    display: inline-block;
                    background-color: $darker-merino;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    font-size: 8px;
                    transform: translateX(-4px) translateY(1px);
                }
            }
        }

        &>:nth-child(2) {
            position: relative;

            &:hover {
                ul {
                    display: block;
                }
            }

            ul {
                position: absolute;
                display: none;
                top: 32px;
                left: -80px;
                width: 160px;
                border: 1px solid $main-color;
                background-color: $darker-merino;
                box-shadow: 1px 1px 2px $box-shadow;

                &::before {
                    //偽元素製作三角形
                    display: block;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: $darker-merino;
                    border-bottom: 1px solid $second-color;
                    border-right: 1px solid $second-color;
                    position: absolute;
                    top: -8px;
                    left: 85px;
                    transform: rotate(-135deg);
                }

                li {
                    padding: 0 0 5px 10px;
                    margin: 5px 0;
                    height: 30px;
                    overflow: hidden;

                    a {
                        display: flex;
                        align-items: center;

                        i {
                            width: 35px;
                            height: 35px;
                        }

                        span {
                            transition: 0.3s ease-in-out;
                            @include padding(top, 5px);
                        }

                        &:hover {
                            span:nth-child(1) {
                                transform: scaleY(0) translateY(-30px);
                            }

                            span:nth-child(2) {
                                transform: translateY(-30px);
                            }
                        }
                    }
                }

                li+li::before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 140px;
                    border: 1px solid $brown;
                    box-shadow: 1px 0 1px $lighter-brown;
                    left: 10px;
                }
            }
        }

        @include pad-width {
            @include margin(left, 40px);
        }

        @include phone-width {
            display: none;
        }
    }

    .mobile-icons {
        visibility: hidden;

        @include pad-width {
            display: none;
        }

        @include phone-width {
            @include padding(top, 5px);
            @include padding(bottom, 5px);
            visibility: visible;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100vw;
            background-color: $darker-merino;

            button {
                background-color: $darker-merino;
            }

            span {
                display: inline-block;
                background-color: $darker2-merino;
                color: $main-color;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                font-size: 8px;
                transform: translateX(-3px) translateY(1px);
            }
        }
    }

    @include pad-width {
        max-width: 40vw;
        align-items: flex-end;
    }

    @include phone-width {
        max-width: 0;
        align-items: flex-end;
    }
}

.mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.showCart {
        display: block;
    }

    &.showMenu {
        display: block;
        top: 83px;

        @include phone-width {
            top: 62px;
        }
    }
}