.header {
    position: sticky;
    top: 0;
    z-index: 1999;
    background-color: #fff;
    width: 100vw;

    &.scroll {
        position: sticky;
        z-index: 1999;
        transition: .5s linear;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 1px 0px 1px $box-shadow;

        @include pad-width {
            display: block;
        }
    }
}

.logo {
    position: relative;
    max-width: 100vw;

    @include pad-width {
        justify-content: space-between;
    }

    @include phone-width {
        justify-content: space-between;
    }

    h1 {
        @include padding(top, 10px);
        font-size: $logo-fz;
        font-family: $logo-font;

        @include phone-width {
            width: calc(100vw/3);
            font-size: 28px;
        }
    }

    .ham {
        display: none;
        transition: 0.3s ease-in-out;
        margin-left: 15px;
        width: calc(100vw/3);

        span {
            display: block;
            margin-bottom: 5px;
            width: 22px;
            height: 2px;
            background: $main-color;
        }

        &.show {
            span {
                position: relative;
                transition: 0.3s ease-in-out;

                &:nth-child(1) {
                    top: 5px;
                    transform: rotate(-135deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    top: -2px;
                    transform: rotate(135deg);
                }
            }
        }

        @include pad-width {
            display: block;
        }

        @include phone-width {
            display: block;
        }
    }

    .mobile-icons-header {
        display: none;

        @include pad-width {
            display: flex;
            align-items: center;
        }

        @include phone-width {
            // position: relative;
            display: flex;


            &>:nth-child(1) {
                position: relative;
                @include margin(right, 5px);

                input {
                    max-width: calc(100vw/3);
                }

                button {
                    position: absolute;
                    font-size: 16px;
                    right: 5px;
                    top: 5px;
                }
            }

            &>:nth-child(2),
            &>:nth-child(3) {
                display: none;
            }

        }
    }

}

.nav {
    width: 1200px;
    @include margin(bottom, 10px);

    @include pad-width {
        max-width: 100vw;
    }

    @include phone-width {
        max-width: 100vw;
    }
}

.menu {
    li {
        @include margin(right, 45px);
        height: 30px;
        overflow: hidden;

        @include pad-width {
            // @include margin(right, 25px);
        }

        a {
            display: flex;
            flex-direction: column;

            span {
                transition: 0.3s ease-in-out;
                text-align: center;
                @include padding(top, 5px);
            }

            &:hover {
                &>span:nth-child(1) {
                    transform: scaleY(0) translateY(-30px);
                }

                &>span:nth-child(2) {
                    transform: translateY(-30px);
                }
            }
        }

    }

    &>:nth-child(3) {
        position: relative;

        ul {
            border: 1px solid $main-color;
            background-color: $darker-merino;
            box-shadow: 1px 1px 2px $box-shadow;
            position: absolute;
            top: 40px;
            left: -50px;
            max-width: 200px;

            &::before {
                //偽元素製作三角形
                display: block;
                content: "";
                height: 15px;
                width: 15px;
                background-color: $darker-merino;
                border-bottom: 1px solid $second-color;
                border-right: 1px solid $second-color;
                position: absolute;
                top: -8px;
                left: 80px;
                transform: rotate(-135deg);
            }

            li {
                position: relative;
                text-align: center;
                width: 200px;
                @include margin(top, 5px);
                @include margin(bottom, 5px);
                @include padding(left, 24px);
                @include padding(right, 24px);
            }

            li+li::before {
                display: block;
                position: absolute;
                content: "";
                width: 180px;
                background-color: $main-color;
                border: 1px solid $second-color;
                box-shadow: 1px 0 1px $box-shadow;
                left: 10px;
            }

        }

        &:hover {
            overflow: visible;
        }
    }

    @include pad-width {
        position: fixed;
        flex-direction: column;
        left: -320px;
        top: 70px;
        z-index: 1999;
        width: 310px;
        height: 100vh;
        overflow-y: scroll;
        background-color: $merino;
        box-shadow: 1px 1px 2px $box-shadow;
        transition: 0.2s ease-in-out;

        li {
            @include margin(top, 15px);
            width: 100%;
        }

        &>:nth-child(3) {
            ul {
                display: block;
                left: 55px;
                top: 35px;

                &::before {
                    display: none;
                }
            }

            &:hover {
                height: 190px;
            }
        }


        &.show {
            left: 0;
        }
    }

    @include phone-width {
        position: fixed;
        flex-direction: column;
        left: -320px;
        top: 50px;
        z-index: 1999;
        width: 310px;
        height: 100vh;
        overflow-y: scroll;
        background-color: $merino;
        box-shadow: 1px 1px 2px $box-shadow;
        transition: 0.2s ease-in-out;

        li {
            @include margin(top, 15px);
            width: 100%;
        }

        &>:nth-child(3) {
            ul {
                display: block;
                left: 55px;
                top: 35px;

                &::before {
                    display: none;
                }
            }

            &:hover {
                height: 190px;
            }
        }


        &.show {
            left: 0;
        }
    }
}

.icons {
    @include pad-width {
        display: none;
    }

    @include phone-width {
        display: none;
    }

    .pc-icons {
        @include pad-width {
            display: none;
        }
    }

    li {
        @include margin(left, 16px);

        input {
            border: 1px solid $main-color;
            border-radius: 5px;
            padding: 5px;
        }

        button {
            border: none;
            font-size: 18px;

            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                background-color: $darker-merino;
                border-radius: 50%;
                font-size: 8px;
                line-height: 1;
                text-align: center;
                transform: translateX(-6px) translateY(1px);
            }
        }
    }

    &>:nth-child(2) {
        // border: 1px solid red;
        position: relative;

        ul {
            border: 1px solid $main-color;
            background-color: $darker-merino;
            box-shadow: 1px 1px 2px $box-shadow;
            position: absolute;
            max-width: 250px;
            top: 35px;
            left: -50px;
            display: none;

            &::before {
                //偽元素製作三角形
                display: block;
                content: "";
                height: 15px;
                width: 15px;
                background-color: $darker-merino;
                border-bottom: 1px solid $second-color;
                border-right: 1px solid $second-color;
                position: absolute;
                top: -8px;
                left: 60px;
                transform: rotate(-135deg);
            }

            li {
                max-width: 200px;
                height: 30px;
                overflow: hidden;
                @include margin(bottom, 5px);
                @include margin(left, 5px);
                @include margin(right, 5px);

                a {
                    display: flex;
                    justify-content: center;

                    i {
                        width: 20px;
                        height: 20px;
                        @include margin(top, 10px);
                        @include margin(left, 10px);
                        @include margin(right, 5px);
                    }

                    span {
                        width: 100px;
                        text-align: center;
                        transition: 0.3s ease-in-out;
                        @include padding(top, 5px);
                    }

                    &:hover {
                        span:nth-child(1) {
                            transform: scaleY(0) translateY(-30px);
                        }

                        span:nth-child(2) {
                            transform: translateY(-30px);
                        }
                    }
                }
            }

            li+li::before {
                display: block;
                position: absolute;
                content: "";
                width: 130px;
                border: 1px solid $second-color;
                box-shadow: 1px 0 1px $box-shadow;
                left: 10px;
            }

        }

        &:hover {
            ul {
                display: block;
            }
        }
    }
}

.mobile-icons-footer {
    display: none;

    button {
        border: none;
        background-color: $darker-merino;
    }

    @include phone-width {
        @include padding(top, 5px);
        @include padding(bottom, 5px);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        width: 100vw;
        background-color: $darker-merino;

    }
}

.mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.show {
        display: block;
    }

    &.menu_show {
        display: block;
        top: 70px;

        @include phone-width {
            top: 50px;
        }
    }
}