.orderinfo {
    position: relative;
    @include margin(top, 30px);
    @include margin(bottom, 60px);

    @include phone-width {
        flex-direction: column;
    }
}

.cartinfo {
    width: 50%;
    @include padding(right, 35px);
    // padding: 0 15px;

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid $merino;
            text-align: center;
        }

        th {
            padding: 10px 0;
            vertical-align: middle;
        }

        td {
            padding: 10px 0;
            vertical-align: middle;

            .itemimg {
                width: 50px;
            }

            .itemtitle {
                font-weight: 500;
            }
        }

        @include phone-width {
            max-width: 100vw;
            width: 90vw;
            margin: 0 5vw;

            thead tr {
                display: flex;
                justify-content: space-between;
            }

            tbody {
                tr {
                    display: flex;
                    justify-content: space-between;
                }

                td {
                    span {
                        display: block;
                        font-size: 14px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .cartinfo_item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }

    .cartinfo_total {
        @include margin(top, 15px);
        width: 100%;

        span {
            &:nth-child(1) {
                @include margin(right, 15px);
                display: inline-block;
                width: 80px;
                font-weight: 500;
            }

            &:nth-child(2) {
                display: inline-block;
                width: 80px;

                &::before {
                    content: 'NT.';
                }
            }
        }

        @include phone-width {
            width: 95vw;
        }
    }
}

.info_form {
    width: 50%;
    border-left: 2px solid $brown;

    form {
        width: 350px;
        border: 1px solid $main-color;
        background-color: $merino;
        border-radius: 3px;
        padding: 10px;

        label {
            display: inline-block;
            // width: 80px;
            width: 25%;
        }

        input,
        select {
            width: 70%;
            height: 30px;
        }

        .errormsg {
            display: block;
            font-size: 14px;
            color: $error-red;
        }
    }

    .form-group {
        @include margin(top, 10px);
    }

    @include phone-width {
        @include padding(top, 10px);
        width: 95vw;
        margin: 10px auto;
        border-top: 1px solid $main-color;
        border-left: none;

        form {
            width: 95vw;
        }
    }
}

.info_btns {
    left: 0;
    bottom: -50px;
    width: 90%;
    position: absolute;

    .infoback_btn {
        border: none;
    }

    .found_btn {
        width: 120px;
        height: 40px;
        border: 1px solid $main-color;
        border-radius: 3px;
        background-color: $main-color;
        color: white;

        &:disabled {
            opacity: 0.8;
        }
    }

    @include pad-width {
        width: 98%;
    }

    @include phone-width {
        width: 98%;
    }
}